<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orinuno.source.jutsu.repository.JutsuSyncStateRepository">

    <resultMap id="stateResultMap" type="com.orinuno.source.jutsu.model.JutsuSyncState">
        <id property="id" column="id"/>
        <result property="fullCrawlStartedAt" column="full_crawl_started_at"/>
        <result property="fullCrawlCompletedAt" column="full_crawl_completed_at"/>
        <result property="fullCrawlLastPage" column="full_crawl_last_page"/>
        <result property="fullCrawlTotalPages" column="full_crawl_total_pages"/>
        <result property="noticeCursor" column="notice_cursor"/>
        <result property="noticeCursorUpdatedAt" column="notice_cursor_updated_at"/>
        <result property="noticeLastWalkedAt" column="notice_last_walked_at"/>
        <result property="totalTitlesSynced" column="total_titles_synced"/>
        <result property="lastError" column="last_error"/>
        <result property="lastErrorAt" column="last_error_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="findSingleton" resultMap="stateResultMap">
        SELECT * FROM jutsu_sync_state WHERE id = 1
    </select>

    <insert id="initIfAbsent" parameterType="com.orinuno.source.jutsu.model.JutsuSyncState">
        INSERT IGNORE INTO jutsu_sync_state (
            id,
            full_crawl_started_at, full_crawl_completed_at,
            full_crawl_last_page, full_crawl_total_pages,
            notice_cursor, notice_cursor_updated_at, notice_last_walked_at,
            total_titles_synced,
            last_error, last_error_at,
            updated_at
        ) VALUES (
            1,
            #{state.fullCrawlStartedAt}, #{state.fullCrawlCompletedAt},
            #{state.fullCrawlLastPage}, #{state.fullCrawlTotalPages},
            #{state.noticeCursor}, #{state.noticeCursorUpdatedAt}, #{state.noticeLastWalkedAt},
            #{state.totalTitlesSynced},
            #{state.lastError}, #{state.lastErrorAt},
            #{state.updatedAt}
        )
    </insert>

    <update id="update" parameterType="com.orinuno.source.jutsu.model.JutsuSyncState">
        UPDATE jutsu_sync_state SET
            full_crawl_started_at    = #{state.fullCrawlStartedAt},
            full_crawl_completed_at  = #{state.fullCrawlCompletedAt},
            full_crawl_last_page     = #{state.fullCrawlLastPage},
            full_crawl_total_pages   = #{state.fullCrawlTotalPages},
            notice_cursor            = #{state.noticeCursor},
            notice_cursor_updated_at = #{state.noticeCursorUpdatedAt},
            notice_last_walked_at    = #{state.noticeLastWalkedAt},
            total_titles_synced      = #{state.totalTitlesSynced},
            last_error               = #{state.lastError},
            last_error_at            = #{state.lastErrorAt},
            updated_at               = #{state.updatedAt}
        WHERE id = 1
    </update>

</mapper>
